@import 'src/styles/custom-variables-functions';

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-link {
  margin: 0 rem(16px);
}
